@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@await Html.PartialAsync("/Views/_PizzaPanPartial/_HeadPartial.cshtml")
<body>
  
    <!--header-->
    @await Html.PartialAsync("/Views/_PizzaPanPartial/_NavbarPartial.cshtml")
    <!--/header-->
    
    @await Html.PartialAsync("/Views/_PizzaPanPartial/_DomainPartial.cshtml")
    <!-- iphone home block -->
    <!-- footers 20 -->
    @RenderBody()
    @await Html.PartialAsync("/Views/_PizzaPanPartial/_FooterPartial.cshtml")
    <!-- move top -->
    @await Html.PartialAsync("/Views/_PizzaPanPartial/_ScriptPartial.cshtml")



</body>

</html>