@model PizzaPan.Entities.Concrete.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h1 style="color:deepskyblue">Ürün Ekleme Sayfası</h1>

<form method="post">

    <div class="form-group">
        <label for="CategoryID">Kategori</label>
        <select id="CategoryID" asp-for="CategoryID" asp-items="@ViewBag.CategorySelect" class="form-control dropdown-toggle">
            <option value="">Kategori Seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryID"></span>
    </div>

    <div class="form-group">
        <label for="ProductName">Ürün Adı</label>
        <input id="ProductName" asp-for="ProductName" class="form-control" style="background-color: aqua;" />
    </div>

    <div class="form-group">
        <label for="Description">Ürün Açıklaması</label>
        <input id="Description" asp-for="Description" class="form-control" style="background-color: aqua;" />
    </div>

    <button type="submit" class="btn btn-info">Kaydet</button>

</form>
<style>
    /* CSS dosyanıza ekleyin veya <style> bloğunuzun içine yapıştırın */
    select.form-control {
        background-color: aqua;
    }

</style>