@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PizzaPanHomePageLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<body>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda</li>
            </ul>
        </div>
    </section>
    <!--  Intro video popup section -->
    @await Component.InvokeAsync("_AboutWhoWeArePartial")
    <!--  //Intro video popup section -->
    <!--  form-12 -->
    @await Component.InvokeAsync("_AboutFeaturePartial")
    <!-- // form-12 -->
    <!-- team -->
    @await Component.InvokeAsync("_OurTeamPartial")
    <!-- //team -->
    <!-- stats -->
    <section class="w3_stats py-5" id="stats">
        <div class="container py-lg-5 py-md-4">
            <div class="title-content text-center">
                <h6 class="sub-title">Our facts</h6>
                <h3 class="title-big">Why we are unique? Have a look.</h3>
            </div>
            <div class="w3-stats">
                <div class="row">
                    <div class="col-sm-4 col-4">
                        <div class="counter">
                            <span class="fa fa-smile-o"></span>
                            <div class="timer count-title count-number mt-3" data-to="5100" data-speed="1500"></div>
                            <p class="count-text ">happy customers</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-4">
                        <div class="counter">
                            <span class="fa fa-users"></span>
                            <div class="timer count-title count-number mt-3" data-to="971" data-speed="1500"></div>
                            <p class="count-text ">master chef's</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-4">
                        <div class="counter">
                            <span class="fa fa-database"></span>
                            <div class="timer count-title count-number mt-3" data-to="21" data-speed="1500"></div>
                            <p class="count-text ">branches</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- features -->
    <section class="w3l-reasons py-5">
        <div class="main-w3 py-lg-5 py-md-4">
            <div class="container">
                <div class="title-content text-center">
                    <h6 class="sub-title">we are the best</h6>
                    <h3 class="title-big">4 reasons to Choose us</h3>
                </div>
                <div class="row main-cont-wthree-fea mt-5 text-center">
                    <div class="col-lg-3 col-sm-6 grids-feature">
                        <a href="#url" class="icon"><img src="assets/images/pizza.png" alt=""></a>
                        <h4><a href="#feature" class="title-head">Tasty Pizza</a></h4>
                        <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 grids-feature mt-sm-0 mt-5">
                        <a href="#url" class="icon"><img src="assets/images/burger.png" alt=""></a>
                        <h4><a href="#feature" class="title-head">Quality Products</a></h4>
                        <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-sm-5 mt-5">
                        <a href="#url" class="icon"><img src="assets/images/drink.png" alt=""></a>
                        <h4><a href="#feature" class="title-head">World's best Chef</a></h4>
                        <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-sm-5 mt-5">
                        <a href="#url" class="icon"><img src="assets/images/fries.png" alt=""></a>
                        <h4><a href="#feature" class="title-head">Fastest delivery</a></h4>
                        <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>