
<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>Şehrinizdeki En İyi Pizzayı Yapıyoruz</h3>
                <h5 class="mt-lg-3 mt-2">
                    Pizza tutkunlarının gözdesi olan işletmemizde, unutulmaz lezzetler ve doyumsuz bir deneyim sizleri bekliyor. Kaliteli malzemelerle hazırlanan pizzalarımız, özenle pişirilir ve size en taze haliyle sunulur.
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    Müşteri memnuniyeti, bizim için her zaman en ön plandadır. Profesyonel ekibimiz, size en iyi hizmeti sunmak için özveriyle çalışır. Dünya çapında ün yapmış pizzalarımızla sizleri ağırlamaktan mutluluk duyacağız.

                    Keyifli bir pizza deneyimi için bize ulaşmayı unutmayın! Dünyanın en güzel pizza lezzetini birlikte yaşamak için sabırsızlanıyoruz.
                </p>
                <a href="blog1.html" class="btn-style btn-primary btn mt-lg-5 mt-4">Know more about us</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">Doğal malzemelerle pişmiş doğru yemek</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">Doğal en kaliteli ürünlerin kullanımı</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> Dünyanın en iyi Şefi ve Beslenme Uzmanı Sizlerle!</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">İtalya'yı Ayağınıza Getiren Lezzet</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>