﻿<section class="w3l-about1 py-5" id="intro">
    <div class="new-block top-bottom py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Biz Kimiz</h6>
                <h3 class="title-big">Hakkımızda</h3>
            </div>
            <div class="row mt-lg-5 mt-4">
                <div class="col-md-3 left-section">
                </div>
                <div class="col-md-6 middle-section text-center align-self">
                    <div class="section-width mb-lg-4 py-4">

                        <p class="mt-4">

                            Hoş Geldiniz! Pizza Pan Dükkanı

                            Sıcak, lezzetli ve kaliteli pizzaların adresi olan Pizza Pan Dükkanı'na hoş geldiniz! Müşteri memnuniyetini en üst düzeyde tutan ve her dilimde aşkla pişirilen pizzalarımızla sizlere unutulmaz lezzet deneyimleri sunuyoruz.

                            Kaliteli Malzemeler, Lezzetli Tatlar

                            Pizza Pan olarak, pizzalarımızda en taze ve kaliteli malzemeleri kullanmaya özen gösteriyoruz. Hamurumuz özenle hazırlanır, özel soslarımızla zenginleştirilir ve üzerine yerel ve sezonel ürünlerle donatılır. Tüm pizzalarımız özel taş fırınımızda, ustalarımızın marifetiyle pişirilir. Sonuç? Damaklarda iz bırakan, lezzetiyle büyüleyen bir pizza deneyimi!
                        </p>
                    </div>
                    <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                    </a>

                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <iframe src="https://www.youtube.com/watch?v=vcfNpDtVqOw" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3 right-section mt-md-0 mt-4">
                </div>
            </div>
        </div>
    </div>
</section>