
<section class="w3l-block py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self">
                <h3>Siz istediklerinizi şeçin istediğiniz vakitte en hızlı şekilde getirelim.</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Pizza tutkunları için vazgeçilmez bir adres olan Pizza Pan, sıcak ve lezzetli pizzalarıyla damağınızı şımartmaya geliyor! Müşterilerimizin isteklerini ön planda tutarak, en hızlı şekilde en güzel pizzaları sunuyoruz.
                </p>
                <a href="#url" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> Online Satış</a>
            </div>
            <div class="col-lg-4 col-md-6 align-self mt-md-0 mt-5">
                <h3>Yedikçe Kazandıran Puan Sistemimizle Tanışın.</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Pizza Pan'da yedikçe kazanan siz olun! Sizleri, en lezzetli pizzalar ve muhteşem ödüllerle dolu bir deneyim yaşamaya davet ediyoruz.
                </p>
                <a href="/About/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-book mr-2"></span>Hakkımızda</a>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="~/pizzapan-starter/assets/images/a1.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>